.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.cell {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: url('~/src/assets/images/image.png') no-repeat;
  background-color: #ccc;
  background-size: auto; /* 適宜調整 */
  border: 1px solid #888;
}

.cellOpened {
  background-color: #ddd;
  border: 1px solid #999;
  box-shadow: none;
}

.cellUnopend {
  background-color: #ccc;
  border-top: 3px solid #fff;
  border-right: 3px solid #777;
  border-bottom: 3px solid #777;
  border-left: 3px solid #fff;
}

/* 数字・爆弾などを表すコンテンツ表示 */
.cellContent {
  background-color: #d1d1d1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #999;
}

/* フラッグ */
.cellFlag {
  background-position: -270px 0; /* 例：画像スプライトで位置指定 */
}

/* クエスチョンマーク */
.cellQuestion {
  background-position: -240px 0; /* 例：画像スプライトで位置指定 */
}

/* ゲームボード */
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
